<a href="https://colab.research.google.com/github/tuongvi197ct22673/phantichdulieu/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EX1

In [16]:
import pandas as pd
import sys
import seaborn as sns
import matplotlib.pyplot as plt

def load_data(filename):
  return pd.read_csv('https://raw.githubusercontent.com/tuongvi197ct22673/phantichdulieu/main/'+filename)
dfcovid19 = load_data('countriessample.csv')
dfcovid19.head()

        Date   CountryRegion  Confirmed  Recovered  Deaths
0  1/22/2020    Ghana;Africa        NaN        NaN     0.0
1  1/22/2020   Greece;Europe        NaN        NaN     0.0
2  1/22/2020  Iceland;Europe        0.0        NaN     0.0
3  1/22/2020      India;Asia        0.0        NaN     0.0
4  1/22/2020  Indonesia;Asia        0.0        NaN     0.0

EX2

In [20]:
import pandas as pd

df = pd.DataFrame({
    'History': [76, 84, 68, 94],
    'Math': [81, 67, 91, 86],
    'English': [72, 93, 84, 76]
})

print("The original dataframe:\n")
print(df)

def get_mean(scores):
    return sum(scores)/len(scores)

print("\nThe result of applying the function on the dataframe:\n")
print(result)

The original dataframe:

   History  Math  English
0       76    81       72
1       84    67       93
2       68    91       84
3       94    86       76

The result of applying the function on the dataframe:

Sam      76.333333
Greta    81.333333
Mike     81.000000
Emma     85.333333
dtype: float64

EX3

In [19]:
import pandas as pd

df = pd.DataFrame({
    'History': [76, 84, 68, 94],
    'Math': [81, 67, 91, 86],
    'English': [72, 93, 84, 76]
}, index=['Sam', 'Greta', 'Mike', 'Emma'])

print("The original dataframe:\n")
print(df)

def get_mean(scores):
    return sum(scores)/len(scores)

result = df.apply(get_mean, axis=1)
print("\nThe result of applying the function on the dataframe:\n")
print(result)

The original dataframe:

       History  Math  English
Sam         76    81       72
Greta       84    67       93
Mike        68    91       84
Emma        94    86       76

The result of applying the function on the dataframe:

Sam      76.333333
Greta    81.333333
Mike     81.000000
Emma     85.333333
dtype: float64

EX4

In [25]:
def split_name_series(string):
  country, region=string.split(';')
  return pd.Series(
      (country, region),
      index='country, region'.split()
  )
def split_name(x_df):
    res=x_df['CountryRegion'].apply(split_name_series)
    x_df[res.columns]=res
    return x_df

EX5

In [ ]:
def

EX6

In [24]:
def substitute_region(x_df):
    mapping={'Africa':'AF', 'Asia':'AS','Europe':'EU','South America':'SA','North America':'NA'}
    x_df['region']=x_df['region'].map(mapping)
    return x_df
res=(res.pipe(substitute_region))
res

NameError: ignored